body {
  margin: 0;
  padding: 0;
  background: #fff5d7;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: inherit;
}
